<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {%  load static  %}

    <title>Manage Reservations</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.3/venobox.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.css" rel="stylesheet">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}" type="text/css">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container-fluid d-flex">
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="/#index"><span>PopCorner</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/#index">Home</a></li>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/movies">Movies</a></li>
                    <li><a href="/map">Location</a></li>
                    <li><a href="/payment">Checkout</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/edit_reservation">Account</a></li>
                        <li class="get-started"><a href="/logout">Logout</a></li>
                    {%  else %}
                        <li class="get-started"><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <!-- ======= Reservations Section ======= -->
    <section id="reservations" class="reservations section-bg">
        <div class="container">
            <div class="section-title">
            <h2>Manage Reservations</h2>
                <p>Here are your reservations so far:</p>
            </div>

            {% if Count != 0 %}

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if error %}
                    {{ error }}
                {% endif %}

                <form action="/delete_reservation/" method="POST">
                    {% if Count != 0 %}
                        {% csrf_token %}
                        {% for Reservation in Reservations %}

                            <!-- Only print out information related to the current user-->
                            {% if user.username == Reservation.Owner.UserName %}

                                <!-- Print out Relevant Information for the Reservation-->
                                <img src="{{Reservation.EventId.MovieId.MoviePic}}"style="height:200px; float:left; padding-right: 10px;"> <br/>
                                <h5> {{ Reservation.EventId.MovieId.MovieName }} </h5>
                                <p> Date/Time: {{ Reservation.EventId.EventDate }} <br>
                                    Location Name: {{ Reservation.EventId.LocationName }} <br>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    Address: {{ Reservation.EventId.EventAddress }} <br>
                                    Number of Tickets Reserved: {{ Reservation.TicketsReserved }} <br>
                                    Would you like to remove this reservation?
                                    <!-- Store the current Reservation ID inside the checkbox -->
                                    <input class="check" type="checkbox" value={{Reservation.ReservationId}} id="ResID.id" name="res"><br><br>
                                <br></p>
                            {% endif %}


                        {% endfor %}

                        <input type="submit" name="submit" value="Submit Edits"/>
                    {% endif %}
                </form>

            {% else %}
                <p>Currently, you do not have any reservations to view.</p>
            {% endif %}
            <p>
                <br>If you would like to create a reservation, <a href = "/reservation"><strong>Reservation</strong></a>.</br>
            </p>
        </div>
    </section>

</body>

</html>