<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <!-- Specifies the name of the tab -->
    <title>Welcome to PopCorner!</title>
</head>

<!-- Formatting the Navbar -->
<style>
.menu {
    background-color: #fa6b58;
    overflow: hidden;
}
.menu a{
    float: left;
    background-color: #FA6B58;
    color: #FDEE87;
    text-align: center;
    padding: 15px 70px;
    text-decoration: none;
    font-size: 17px;
}
.menu a:hover, a:active {
    background-color: #FDEE87;
    color: #FA6B58;
}
</style>

<!-- Formatting the webpage and "header" -->
<body style="background-color:#333333;">
<h3 style="color:#FDEE87;font-size:150%;font-family:'Optima';">Welcome to...</h3>
<h1 style="color:tomato;font-size:300%;font-family:'Noto Sans Coptic';text-align:center;background: #FDEE87">PopCorner</h1>

<!-- Prints out the Navbar-->
<div class ="menu">
    <a class ="active" href="/#index">Home</a>
    <a href ="/account">Account</a>
    <a href ="/movies">Movies</a>
    <a href ="/locations">Locations</a>
    <a href ="/about">About Us</a>
    {%  if user.is_authenticated %}
    <a href = "/logout">Logout</a>
    {% else %}
    <a href = "/login">Login</a>
    {% endif %}
</div>

<!-- Prints out the messages from login-->
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
{% endif %}

<!-- Filler for now -->
<p style="font-size:500%">Coming Soon: The Rest of this Page</p>


</body>
</html>