<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Specifies the name of the tab -->
    <title>Welcome to PopCorner!</title>
    {%  load static  %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}" type="text/css">
</head>

<body>
    <header role="banner" class="menu-nav">
        <a href="/#index">Home</a>
        <div class="sub-menu-nav">
            <button class="sub-menu-btn">Account</button>
            <div class="sub-menu-content">
                <a href="/signup">Sign Up</a>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <a href ="/movies">Movies</a>
        <a href ="/map">Locations</a>
        <a href ="/reservation">Make Reservation</a>
        <a href = "/payment">Payment</a>
        <a href ="/about">About Us</a>
    </header>

    <div class="page-content">
        <!-- Prints out the messages from login-->
        {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
        {% endif %}

        <p style="font-size:300%;color:red;float:right;padding-top:15%;padding-right:20%;">Welcome to PopCorner!</p>
        <img src="{% static 'images/popcorn_cartoon.png' %}" alt="My Logo" style="height:40%">
    </div>

</body>

</html>