<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to PopCorner</title>
    {%  load static  %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}" type="text/css">
</head>

<!-- Sorts out the formatting of the header -->
<body>
    <header role="banner" class="menu-nav">
        <a href="/#index">Home</a>
        <div class="sub-menu-nav">
            <button class="sub-menu-btn">Account</button>
            <div class="sub-menu-content">
                <a href="/signup">Sign Up</a>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <a href ="/movies">Movies</a>
        <a href ="/map">Locations</a>
        <a href ="/reservation">Make Reservation</a>
        <a href = "/payment">Payment</a>
        <a href ="/about">About Us</a>
    </header>

    <div class="page-content">
        <h1 style="color:tomato;font-size:150%;font-family:'Optima';">Login</h1>
        <!-- End of formatting -->

        <!-- Creating the Login Form -->
         <form action="/login/" method="post">
             {% csrf_token %}
             <!-- Prints out messages -->
             {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
             {% endif %}

             <!-- Login Form Blanks -->
             Enter your username: <br/>
             <input type="text" name="Username"><br/>
             Enter your password: <br/>
             <input type="password" name="Password"><br/>
             <input type="submit">
         </form>
        If you don't already have an account, <a href = "/signup"><strong>Sign Up</strong></a> instead.
    </div>

</body>
</html>