<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {%  load static  %}

    <title>Add Reservation</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.3/venobox.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.css" rel="stylesheet">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}" type="text/css">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container-fluid d-flex">
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="/#index"><span>PopCorner</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/#index">Home</a></li>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/movies">Movies</a></li>
                    <li><a href="/map">Location</a></li>
                    <li><a href="/payment">Checkout</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/edit_reservation">Account</a></li>
                        <li class="get-started"><a href="/logout">Logout</a></li>
                    {%  else %}
                        <li class="get-started"><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <!-- ======= Reservations Section ======= -->
    <section id="reservations" class="reservations section-bg">
        <div class="container">
            <div class="section-title">
            <h2>Reservation Info</h2>
                <p>Here are possible movies to watch</p>
            </div>

            {% if Count != 0 %}

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if messages.tags %} class="{{ message.tags }}" {% endif %} >
                            {{ message }}
                        </li>
                        {%  endfor %}
                    </ul>
                {% endif %}
                {% if error %}
                    {{ error }}
                {% endif %}

                <form action="/add/" method="POST">
                    {% if Count != 0 %}
                        {% for Event in Events %}

                            {% csrf_token %}
                            <section id="{{ Event.LocationName }}">
                                <!-- Print out Relevant Information for the Movie-->
                                <img src="{{Event.MovieId.MoviePic}}" style="height:200px; float:left; padding-right: 10px" <br/>
                                <h5>{{ Event.MovieId.MovieName }}</h5>  <br>
                                <p> Address: {{ Event.LocationName }} <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {{ Event.EventAddress }} <br>
                                    Number of Tickets Available: {{ Event.AvailableTickets }}<br>
                                    Event Date: {{ Event.EventDate }}</p>
                                {% if Event.AvailableTickets > 0 %}
                                    <!-- Both inputs need to be a list (specified by id) -->
                                    <!-- Ask User for the number of tickets (default is 0)-->
                                    <p> How many tickets would you like to buy?
                                        <input style="direction: rtl;" type="integer" name="tickets" id="tickets.id" value = 0><br/>
                                        <!--<input type="number" name="tickets" id="tickets.id" min="0" max = "{{ Event.AvailableTickets }}"><br/>-->
                                        <!-- Store the current Event ID -->
                                        <input style="direction: rtl;" type="hidden" value={{ Event.EventId }} name=tempId id="temp.id" readonly>
                                    </p>
                                {% else %}
                                    <p> There are no tickets available</p>
                                {% endif %}
                            </section>

                        {% endfor %}
                        <input type="submit" name="submit" value="Add Reservation"/>
                    {% endif %}
                </form>

            {% else %}
                <p>There are no available events</p>
            {% endif %}

        <p> <br>
            If you would like to view your current reservations, <a href = "/edit_reservation"><strong>View Reservations</strong></a>.
            <br/>
            {% if IsBusiness %}
                 If you would like to create an event, <a href = "/event"><strong>Event</strong></a>.
            {% endif %}
        </p>

        </div>

    </section>

</body>

</html>

