#map {
    position: relative;
    margin-top: 50%;
}

html,
body {
  height: 90%;
  margin: 0;
  padding: 0;
}

h3 {
    color: black;
    text-align: left;
    font-family: "Calibri", serif;
    font-size: 22px;
    margin-top: 50px;
}