<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add your payment information</title>
    {%  load static  %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}" type="text/css">
</head>

<body>
    <header role="banner" class="menu-nav">
       <a href="/#index">Home</a>
        <a href ="/edit_reservation">Account </a>
        <a href ="/event">Movies</a>
        <a href ="/map">Locations</a>
        <a href ="/reservation">Make Reservation</a>
        <a href = "/payment">Payment</a>
        <a href ="/about">About Us</a>

        <!--Login/Logout Button -->
        {% if user.is_authenticated %}
            <a href ="/logout" class="login-button">Logout </a>
        {% else %}
            <a href ="/login" class="login-button">Login</a>
        {% endif %}

    </header>
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password?</title>
</head>

<style>
.menu {
    background-color: #fa6b58;
    overflow: hidden;
}
.menu a{
    float: left;
    background-color: #FA6B58;
    color: #FDEE87;
    text-align: center;
    padding: 15px 70px;
    text-decoration: none;
    font-size: 17px;
}
.menu a:hover, a:active {
    background-color: #FDEE87;
    color: #FA6B58;
}
</style>


<body style="background-color:#333333;">
<h3 style="color:#FDEE87;font-size:150%;font-family:'Optima';">Welcome to...</h3>
<h1 style="color:tomato;font-size:300%;font-family:'Noto Sans Coptic';text-align:center;background: #FDEE87">PopCorner</h1>

<div class ="menu">
    <a class ="active" href="/#index">Home</a>
    <a href ="/account">Account</a>
    <a href ="/movies">Movies</a>
    <a href ="/locations">Locations</a>
    <a href ="/about">About Us</a>
   {%  if user.is_authenticated %}
    <a href = "/logout">Logout</a>
    {% else %}
    <a href = "/login">Login</a>
    {% endif %}
</div>
-->
    <!-- End of formatting -->
    <div class="page-content">
        <h1 style="color:tomato;font-size:150%;font-family:'Optima';">Forgot Password?</h1>
        <p> Please enter your email below!</p>

    <!-- Creating the Forgotten Password Form -->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- YOU NEED TO FIGURE OUT HOW TO CHECK THE EMAIL AGAINST DATABASE-->
        <input type="submit">
    </form>

    </div>
</body>
</html>