<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter New Password</title>
</head>
<!-- This sets up the navigation bar and needs to be moved to a header.html file-->
<style>
.menu {
    background-color: #fa6b58;
    overflow: hidden;
}
.menu a{
    float: left;
    background-color: #FA6B58;
    color: #FDEE87;
    text-align: center;
    padding: 15px 70px;
    text-decoration: none;
    font-size: 17px;
}
.menu a:hover, a:active {
    background-color: #FDEE87;
    color: #FA6B58;
}
</style>

<!-- Sorts out the formatting of the header -->
<body style="background-color:#333333;">
<h3 style="color:#FDEE87;font-size:150%;font-family:'Optima';">Welcome to...</h3>
<h1 style="color:tomato;font-size:300%;font-family:'Noto Sans Coptic';text-align:center;background: #FDEE87">PopCorner</h1>

<div class ="menu">
    <a class ="active" href="/#index">Home</a>
    <a href ="/account">Account</a>
    <a href ="/movies">Movies</a>
    <a href ="/locations">Locations</a>
    <a href ="/about">About Us</a>
   {%  if user.is_authenticated %}
    <a href = "/logout">Logout</a>
    {% else %}
    <a href = "/login">Login</a>
    {% endif %}
</div>

<h1 style="color:tomato;font-size:150%;font-family:'Optima';">Enter New Password</h1>
<!-- End of formatting -->
<p>
{%  if validlink %}
<!-- Entering New Password Form -->
    <form method="post">
        {% csrf_token %}
        <!-- Forgot Password Form Blanks -->
        {{ form.as_p}}
        <input type="submit" value= "Change my password">
    </form>

{% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</p>

</body>
</html>