<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add your payment information</title>
    {%  load static  %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}" type="text/css">
</head>

<body>
    <header role="banner" class="menu-nav">
       <a href="/#index">Home</a>
        <a href ="/edit_reservation">Account </a>
        <a href ="/event">Movies</a>
        <a href ="/map">Locations</a>
        <a href ="/reservation">Make Reservation</a>
        <a href = "/payment">Payment</a>
        <a href ="/about">About Us</a>

        <!--Login/Logout Button -->
        {% if user.is_authenticated %}
            <a href ="/logout" class="login-button">Logout </a>
        {% else %}
            <a href ="/login" class="login-button">Login</a>
        {% endif %}

    </header>

    <div class="page-content">
    <h1 style="color:tomato;font-size:150%;font-family:'Optima';">Enter New Password</h1>
    <!-- End of formatting -->

    {%  if validlink %}
    <!-- Entering New Password Form -->
    <form method="post">
        {% csrf_token %}
        <!-- Forgot Password Form Blanks -->
        {{ form.as_p}}
        <input type="submit" value= "Change my password">
    </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.</p>
    {% endif %}
    </div>
</body>
</html>