<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {%  load static  %}

    <title>Map</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.3/venobox.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.css" rel="stylesheet">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/all.css' %}" type="text/css">

    <script type="text/javascript" src="{% static 'js/module.js' %}"></script>

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container-fluid d-flex">
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="/#index"><span>PopCorner</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/#index">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="/reservation">Movies</a></li>
                    <li><a href="/map">Location</a></li>
                    <li><a href="/payment">Checkout</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/edit_reservation">Account</a></li>
                        <li class="get-started"><a href="/logout">Logout</a></li>
                    {%  else %}
                        <li class="get-started"><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div id="map"></div>
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
                <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU5UxvRgKF5tZdxDMyO9Al0jf18oppvNk&callback=initMap&libraries=&v=weekly"
                    async></script>
                </div>
            </div>
        </div>
    </section>

</body>

</html>